### Ćwiczenie 1
#### - wstępna analiza i przygotowanie danych do modelu:

1. Zaimportuj biblioteki pandas, numpy, sklearn.
2. Zrób kopię zapasową danych
3. Zbadaj dane metodą info().
4. Zamień typy danych na cat,int,float
5. Wyświetl podstawowe statyski - describe(), także dla zmiennych kategorycznych.

#### - przygotowanie danych do modelu:

1. Za pomocą Sklearn transformuj zmienna docelową - użyj odpowiedniej biblioteki
2. Transformuj zmienne kategoryczne - get_dummies (zapoznaj się także z odpowiednią biblioteką ze sklearn, możesz zrobić 2 razy) - zmienną docelową też zmień za pomocą pandas.
3. Wystandaryzuj zmienne numeryczne:
- stwórz funkcję standaryzująca, użyj pandas i numpy
- dlaczego dane trzeba wystandaryzować ??
- estymatory obciążone i nie obciążone, kiedy ich się używa ?
4. Wystandaruzyj dane:
- zmienna docelowa - sklearn
- zmienne numeryczne - sklearn
- zmienne kategoryczne - pandas

In [1]:
import pandas as pd
import numpy as np
import sklearn

In [2]:
data = {
    'size': ['XL', 'L', 'M', 'L', 'M'],
    'color': ['red', 'green', 'blue', 'green', 'red'],
    'gender': ['female', 'male', 'male', 'female', 'female'],
    'price': [199.0, 89.0, 99.0, 129.0, 79.0],
    'weight': [500, 450, 300, 380, 410],
    'bought': ['yes', 'no', 'yes', 'no', 'yes']}

df_raw = pd.DataFrame(data)

### 1. Data preprocesing

In [3]:
df = df_raw.copy()

In [5]:
df

  size  color  gender  price  weight bought
0   XL    red  female  199.0     500    yes
1    L  green    male   89.0     450     no
2    M   blue    male   99.0     300    yes
3    L  green  female  129.0     380     no
4    M    red  female   79.0     410    yes

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   size    5 non-null      object
 1   color   5 non-null      object
 2   gender  5 non-null      object
 3   price   5 non-null      float64
 4   weight  5 non-null      int64
 5   bought  5 non-null      object
dtypes: float64(1), int64(1), object(4)
memory usage: 368.0+ bytes

In [7]:
df[['size', 'color', 'gender', 'bought']] = df[['size', 'color', 'gender', 'bought']].astype('category')

In [9]:
df['weight'] = df['weight'].astype('float')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   size    5 non-null      category
 1   color   5 non-null      category
 2   gender  5 non-null      category
 3   price   5 non-null      float64
 4   weight  5 non-null      float64
 5   bought  5 non-null      category
dtypes: category(4), float64(2)
memory usage: 740.0 bytes

In [11]:
df

  size  color  gender  price  weight bought
0   XL    red  female  199.0   500.0    yes
1    L  green    male   89.0   450.0     no
2    M   blue    male   99.0   300.0    yes
3    L  green  female  129.0   380.0     no
4    M    red  female   79.0   410.0    yes

In [13]:
df.describe().T.apply(lambda x: round(x,2))

        count   mean    std    min    25%    50%    75%    max
price     5.0  119.0  48.48   79.0   89.0   99.0  129.0  199.0
weight    5.0  408.0  75.30  300.0  380.0  410.0  450.0  500.0

In [16]:
df.describe(include='category').T

       count unique     top freq
size       5      3       L    2
color      5      3   green    2
gender     5      2  female    3
bought     5      2     yes    3

### 2. Data preparation

#### - zmienna docelowa

In [17]:
from sklearn.preprocessing import LabelEncoder

In [21]:
le = LabelEncoder()
df['bought'] = le.fit_transform(df['bought'])

In [26]:
df['bought']

0    1
1    0
2    1
3    0
4    1
Name: bought, dtype: int32

#### - zmienne kategoryczne

In [27]:
df

  size  color  gender  price  weight  bought
0   XL    red  female  199.0   500.0       1
1    L  green    male   89.0   450.0       0
2    M   blue    male   99.0   300.0       1
3    L  green  female  129.0   380.0       0
4    M    red  female   79.0   410.0       1

In [29]:
df = pd.get_dummies(df, drop_first=True)

In [30]:
df

   price  weight  bought  size_M  size_XL  color_green  color_red  gender_male
0  199.0   500.0       1       0        1            0          1            0
1   89.0   450.0       0       0        0            1          0            1
2   99.0   300.0       1       1        0            0          0            1
3  129.0   380.0       0       0        0            1          0            0
4   79.0   410.0       1       1        0            0          1            0

#### - zmienne numeryczne

In [34]:
from sklearn.preprocessing import StandardScaler


scaler = StandardScaler()
scaler.fit_transform(df[['price', 'weight']])
df[['price', 'weight']] = scaler.fit_transform(df[['price', 'weight']])

In [35]:
df

,price,weight,bought,size_M,size_XL,color_green,color_red,gender_male
0,1.845062,1.366002,1,0,1,0,1,0
1,-0.691898,0.623610,0,0,0,1,0,1
2,-0.461266,-1.603567,1,1,0,0,0,1
3,0.230633,-0.415740,0,0,0,1,0,0
4,-0.922531,0.029696,1,1,0,0,1,0

In [44]:
def standarize(x):
    return (x - x.mean()) / x.std()

In [45]:
df_2 = df_raw.copy()

In [46]:
df_2['weight'] = standarize(df_2['weight'])
df_2['price'] = standarize(df_2['price'])

In [47]:
df_2

  size  color  gender     price    weight bought
0   XL    red  female  1.650274  1.221789    yes
1    L  green    male -0.618853  0.557773     no
2    M   blue    male -0.412568 -1.434274    yes
3    L  green  female  0.206284 -0.371849     no
4    M    red  female -0.825137  0.026561    yes